Button, ChoiceBox {
    -fx-min-width        : 150;
    -fx-padding          : 0.5em 1.5em;
    -fx-background-color : linear-gradient(#f2f2f2, #d6d6d6),
                           linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
                           linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill        : black;
    -fx-wrap-text        : true;
    -fx-effect           : dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
    -fx-cursor           : hand;
}

ChoiceBox {
    -fx-min-width: 160;
    -fx-padding  : 0 !important;
}

Button:hover {
    -fx-background-color : linear-gradient(#e4e4e4, #c8c8c8),
    linear-gradient(#eeeeee 0%, #cbcbcb 20%, #c8c8c8 100%),
    linear-gradient(#cfcfcf 0%, #e8e8e8 50%);
}